---
import Layout from '../layouts/Layout.astro'
import hero from '../assets/images/desktop/hero.jpg'
import MoleculeBanner from '../components/molecules/MoleculeBanner.astro'
import MoleculeHeading from '../components/molecules/MoleculeHeading.astro'
import MoleculeHeader from '../components/molecules/MoleculeHeader.astro'
import MoleculeBookingBar from '../components/molecules/MoleculeBookingBar.astro'
import OrganismLocationBanner from '../components/organisms/OrganismLocationBanner.astro'
---

<Layout>
  <MoleculeBanner />
  <MoleculeHeader />
  <div class="h-full w-full flex flex-col items-center justify-center mb-80
    max-sm:bg-[url(images/hero.jpg)] max-sm:bg-no-repeat max-sm:bg-size-[1360px_100%] max-sm:bg-center
    md:mb-30">
    <img class="hidden md:block hero" class="hero" src={hero.src} alt="" fetchpriority="high" />
    <MoleculeHeading 
      subheading='Step Inside Dakota' 
      heading='Where Sophistication Comes to Stay' 
      level={ 1 }>
    </MoleculeHeading>
    <div class="absolute w-[calc(100%-48px)] md:w-[calc(100%-200px)]
      max-sm:-translate-y-1/2 max-sm:-bottom-1/2
      md:bottom-0">
      <MoleculeBookingBar />
    </div>
  </div>
  <section class="hidden md:block">
    <MoleculeHeading 
      subheading='6 Hotels. One Luxury Experience.' 
      heading='Discover our Locations' 
      level={ 2 }>
    </MoleculeHeading>
    <OrganismLocationBanner />
  </section>
</Layout>

<style is:global>
  .hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s all;
  }

  .loaded .hero {
    @media (width >= 48rem) {
      transform: scale(0.9);
    }
  }
</style>