---
import Layout from '../layouts/Layout.astro'
import hero from '../assets/images/desktop/hero.jpg'
import MoleculeBanner from '../components/molecules/MoleculeBanner.astro'
import MoleculeHeading from '../components/molecules/MoleculeHeading.astro'
import MoleculeHeader from '../components/molecules/MoleculeHeader.astro'
import MoleculeBookingBar from '../components/molecules/MoleculeBookingBar.astro'
import OrganismLocationBanner from '../components/organisms/OrganismLocationBanner.astro'
import AtomButton from '../components/atoms/AtomButton.astro'
---

<Layout>
  <MoleculeBanner />
  <MoleculeHeader />
  <div class="h-full w-full flex flex-col items-center justify-center mb-80
    md:mb-30">
    <img class="hero object-cover" class="hero" src={hero.src} alt="" fetchpriority="high" />
    <MoleculeHeading 
      subheading='Step Inside Dakota' 
      heading='Where Sophistication Comes to Stay' 
      level={ 1 }>
    </MoleculeHeading>
    <div class="absolute w-[calc(100%-48px)]
      max-sm:-bottom-1/3
      md:bottom-0 md:w-[calc(100%-200px)]">
      <MoleculeBookingBar />
    </div>
  </div>
  <section class="hidden md:block">
    <MoleculeHeading 
      subheading='6 Hotels. One Luxury Experience.' 
      heading='Discover our Locations' 
      level={ 2 }>
    </MoleculeHeading>
    <OrganismLocationBanner />
  </section>
  <section class="pb-10">
    <div class="text-center px-8 mx-auto flex flex-col items-center gap-11">
      <h3 class="text-3xl md:text-5xl text-cream">Bold design. <br>Warm hospitality. <br><span class="text-gold">Unmistakably Dakota.</span></h3>
      <p class="font-serif font-light md:max-w-[444px]">At Dakota Hotels, we don't just offer a place to stay — we create an atmosphere. Every space is curated with precision: moody interiors, tactile textures, and an effortless sense of cool.</p>
      <div class="flex gap-5">
        <AtomButton variant='secondary'>Discover Rooms</AtomButton>
        <AtomButton variant='primary'>Make a Reservation</AtomButton>
      </div>
    </div>
  </section>
</Layout>

<style is:global>
  .hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.5s all;
  }

  .loaded .hero {
    @media (width >= 48rem) {
      transform: scale(0.9);
    }
  }
</style>