---
import Layout from '../layouts/Layout.astro';
import background from '../assets/background.svg';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="h-full flex justify-center items-center">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <div class="text-center">
      <h1 class="text-4xl mb-2 font-bold">93FT DEMO</h1>
      <p class="font-serif">Once Figma works again I can start coding...</p>
    </div>
  </div>
</Layout>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>